*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


header{
    height: 120px;
    border: 1px dashed red;
    position: relative;
}

.logo{
    width: 200px;
    margin-top: 10px;
    }

.logo-homepage{
        margin-left: 30px;
        border: none;
        height: 110px;
}

nav > ul{
    list-style-type: none;
}

ul li a{
    color: black;
}

a{
    font-size: 30px;
    text-decoration: none;
}

.fixed{
    display: flex;
    position: fixed;
    font-family: sans-serif;
    align-items: center;
}

.row{
    display: flex;
    flex-direction: row;
    gap: 40px;
    align-items: center;
}

.container{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.start{
    width: 100px;
    height: 60px;
    background-color: rgba(0, 42, 255, 0.7);
    margin-right: 30px;
    border: none;
}

.start a{
    color: white;
}




