*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    font-family: "Sharp Grotesk 23", "Sharp Grotesk 23 KR", "Sharp Grotesk 23 Thai", "Helvetica (Sharp Grotesk 23 Fallback)", "Arial (Sharp Grotesk 23 Fallback)", -apple-system, BlinkMacSystemFont, "Segoe UI", "Helvetica Neue", Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
}


header{
    height: 120px;
    position: relative;
    width: 100%;
}

main{
    margin: 0 auto;
    
}

.logo{
    width: 200px;
    margin-top: 10px;
    }

.logo-homepage{
        margin-left: 30px;
        border: none;
        height: 110px;
}

nav > ul{
    list-style-type: none;
}

ul li a{
    color: black;
}

a{
    font-size: 30px;
    text-decoration: none;
}

header nav ul li a {

}

a:hover{
    text-decoration: underline;
}

.row{
    height: 100%;
    display: flex;
    flex-direction: row;
    gap: 40px;
    align-items: center;
}

.container{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    z-index: 1;
    background-color: white;
}

.start{
    width: 100px;
    height: 60px;
    background-color: #0061fe;
    margin-right: 30px;
    border: none;
}

.start a{
    color: white;
}

#arrow-down a{
    color: black;
}


.try-free{
    display: flex;
    flex-direction: column;
    width: 100%;
    background-color: #6099f5de;
    
}

.text{
    display: flex;
    flex-direction: row;
}


h1{
    font-family: "Sharp Grotesk 23", "Sharp Grotesk 23 KR", "Sharp Grotesk 23 Thai", "Helvetica (Sharp Grotesk 23 Fallback)", "Arial (Sharp Grotesk 23 Fallback)", -apple-system, BlinkMacSystemFont, "Segoe UI", "Helvetica Neue", Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    text-align: center;
    font-size: 120px;
    margin-left: 20px;
}

.container-text-img{
    margin-top: 30px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    position: relative;
    width: 100%;
}

.paragraph{
    display: flex;
    flex-direction: column;
    width: 500px;
    height: 300px;
}

.paragraph > p{
    font-size: 25px;
    line-height: 40px;
}

.jumbo{
    position: relative;
    display: flex;
    flex-direction: column;
    width: 1000px;
    height: 500px;
}

.jumbo > img{
    position: absolute;
    left: 50px;
    height: 600px;
}

.button-try{
    width: 70px;
    height: 35px;
    border: 1px solid lime;
}

.blue-button{
    width: 400px;
}

.blue-button > button{
    margin-top: 15px;
    margin-bottom: 15px;
    border: none;
    background-color: #0061fe;
    padding: 10px;
    font-size: 30px;
}

.blue-button  button a{
    color: white;
    font-size: 20px;
    padding: 20px;
}

.white-button > a {
    color: black;
}

/*Business section*/

.headline{  
    width: 100%;
    height: 200px;
}

.container-business{
    margin: 0 auto;
    width: 60%;
}

.container-business > h2{
    font-size: 60px;
}

.fake-radio{
    margin-left: -1em;
    padding: 50px;
    font-size: 30px;
}

.container-cards{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

.row{
    display: flex;
    flex-direction: row;
}

.item{
    margin: auto;
    width: 400px;
    height: 1500px;
    border: 1px solid rgba(128, 128, 128, 0.42);
    display: flex;
    flex-direction: column;
    position: relative;
}

.hr{
    position: relative;
    width: 100%;
    height: 50px;
    border: 1px solid rgba(128, 128, 128, 0.42);
    border-top: none;
    border-left: none;
    border-right: none;
}

.hr > .three-cards {
    font-size: 20px;
    position: absolute;
    left: 40%;
    top: 25%;
}

#cost > span{
    color: grey;
    
}

.type-of-plan{
    padding: 30px;
}

.type-of-plan > h2{
    padding-bottom: 20px;
}

.function{
    margin-top: 70px;
    margin-bottom: 70px;
    font-size: 20px;   
}

#fatturazione_mensile, #fatturazione_annuale{
    accent-color: blue;
}

#fatturazione-lbl{
    margin-right: 50px;
}

.plan{
    display: block;
    margin-block: 20px;
}

.buy-now{
    margin-top: 15px;
}

.buy-now > a {
    color: blue;
    font-size: 20px;
    text-decoration: underline;
}

#small-hr{
    width: 20%;
    height: 50px;
    border: 1px solid rgba(128, 128, 128, 0.42);
    border-top: none;
    border-left: none;
    border-right: none;
}


.foot-section{
    margin-block: 50px;
}

.file{
    margin-block: 20px;
    font-size: 20px;
}

.file > span > i{
    color: blue;
}

.container-team{
    position: relative;
    margin: auto;
    margin-top: 100px;
    width: 1280px;
    height: 300px;
    border: 1px solid rgba(128, 128, 128, 0.42);
}

.team-section {
    font-size: 20px;
    position: absolute;
    left: 50%;
    top: 25%;
}

.enterprise{
    position: relative;
    margin-top: 20px;
    margin-left: 20px;
}

.fix-font{
    font-size: 20px;
    color: black;
}

.enterprise > h2{
    margin-bottom: 20px;
}

.new-button > button{
    position: absolute;
    right: 30px;
    border: none;
    background-color: #0061fe;
    padding-block: 10px;
    padding-inline: 25px;
}

.new-button > button > a{
    font-size: 20px;
    color: white;
}

.partner-drop{
    display: flex;
    flex-direction: row;
    width: 1280px;
    margin: auto;
}

.item-partner{
    display: flex;
    flex-direction: column;
}

.item-partner > img{
    width: 700px;
}

.paragraph-partner{
    margin-left: 30px;
    margin-top: 30px;
}

.paragraph-partner > h2{
    font-size: 30px;
}

#partner{
    margin-block: 20px;
    font-size: 20px;
    color: black;
}

.white-button > #partner-button{
    padding: 15px;
    margin-top: 15px;
}

#partner-button > a{
    color: rgb(108, 108, 108);
    font-size: 25px;
}


.container-three-cards{
    gap: 50px;
    display: flex;
    flex-direction: row;
    width: 1280px;
    margin: auto;
}

.title > h2{
    margin-bottom: 40px;
    text-align: center;
    font-size: 60px;
}

.item-card{
    margin: auto;
    width: 500px;
    height: 700px;
    display: flex;
    flex-direction: column;
}

.item-card > img{
    width: 100%;
    height: 300px;
}
.item-card > h2{
    font-size: 30px;
    margin-block: 20px;
}

.item-card p{
    font-size: 24px;
}

.plus{
    width: 1280px;
    margin: auto;
    margin-top: 50px;
}

.plus > h2{
    font-size: 50px;
    margin-bottom: 100px;
}

.plus > a{
    color: blue;
    text-decoration: underline;
}

.container-three-column{
    width: 100%;
    height: 600px;
    display: flex;
    flex-direction: row;
}

.item-design{
    display: flex;
    flex-direction: column;
    width: calc( 100% / 3 );
    height: 100%;
    margin-inline: 10px;
}

.column{
    display: flex;
    flex-direction: row;
    height: 50%;
}


.pattern{
    width: 50%;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
}

.pattern > img{
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
}

.pattern > .green-img{
    width: 200px;
}

.img-border{
    background-color: #a2d39b;
    border: 15px solid #d1e9cd;
}

.img-red{
    background-color: #61082b;
}

.red-arizona{
    width: 200px;
}

.img-blue{
    background-color: #0093ce;
}


.img-topps{
    background-color: #ff1c1c;
}

.red-topps{
    width: 200px;
}

.img-blue-lonely{
    background-color: #0d2481;
}

.bg-bycicle{
    background-color: #d5001f;
}

.red-channel{
    width: 200px;
}

.img-channel{
    background-color: #ffd830;
}

.blue-lonely{
    width: 200px;
}

.red-bycicle{
    width: 200px;
}

.overflow-paragraph{
    overflow: scroll;
}

.small-hr-overflow{
    width: 100px;
    border: 1px solid grey;
    border-top: none;
    margin-left: 10px;
}

.paragraph-overflow{
    font-size: 24px;
    margin-top: 60px;
}


.headline-color{
    background-color: #b4d0e7;
    width: 100%;
    height: 300px;
    position: relative;
}

.headline-color > h2 {
    color: #61082b;
    font-size: 70px;
    text-align: start;
    position: absolute;
    top: 50px;
    left: 250px;
}

.button{
    position: relative;
}

.foot-button{
    padding-block: 20px;
    padding-inline: 60px;
    position: absolute;
    top: 70px;
    right: 150px;

    font-size: 25px;
    border: none;
}

.container-ask{
    width: 1280px;
    margin: auto;
    
}

.container-ask > h2{
    font-size: 50px;
}

.long-hr{
    display: flex;
    align-items: center;
}

.long-hr{
    display: block;
    padding-block: 50px;
    font-size: 25px;
    font-weight: bold;
}

.container-difference{
    margin-top: 60px;
}

.black-container{
    width: 100%;
    height: 600px;
    background-color: #000000;
}